<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
		<title>关于我</title>
		<link rel="stylesheet" href="../../css/bootstrap.min.css">
		<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="./vita.css">
	</head>

	<body>
		<!--<![endif]-->
		<div id="pageContain">
			<div class="page page1 current">
				<div class="contain">
					<center>
						<img src="../../picture/IMG_ME.JPG" class="img-circle" id="head">
						<div class="section1 step3">
							<p>在梦想的道路上我们马不停蹄</p>
							<hr>
							<p>我叫储旭</P>
							<p><i class="fa fa-mars fa-fw"></i></P>
							<p>毕业学校：淮阴工学院</P>
							<p>前端小鸟</P>
							<p>s17chucc@163.com</p>
						</div>
					</center>
				</div>
			</div>
			<div class="page page2">
				<div class="contain">
					<center>
						<div class="bg21">
							<p>关于我</p>
						</div>
						<div class="bg22">
							<hr>
						</div>
						<p style="color:#FF69B4">- ABOUT ME -</p>
						<div class="bg23">
							<i class="fa fa-graduation-cap fa-3x" aria-hidden="true"> 学历 | 本科</i>
							<i class="fa fa-user fa-3x" aria-hidden="true"> 年龄 | 25岁</i>
							<i class="fa fa-map-marker fa-3x" aria-hidden="true"> &nbsp;方位 | 南京 </i>
							<i class="fa fa-paperclip fa-3x" aria-hidden="true"> 情况 | 离职</i>
						</div>
						<div class="bg24">
							<br><br>
							<p>2016年6月毕业于淮阴工学院,目前处于离职状态</p>
							<p>喜欢优雅又有内涵的事物，有一颗探索的心</p>
							<p>AngularJS、ThinkPHP、SpringMVC</p>
							<p>条条大路通罗马，MVC是这个时代伟大的思想之一</p>
						</div>
					</center>
				</div>
			</div>
			<div class="page page3" data-step="4" data-step-restart="0">
				<div class="contain">
					<center>
						<center>
							<div class="bg31">
								<p>技能评定</p>
							</div>
							<div class="bg32">
								<hr>
							</div>
							<p style="color:#FF69B4">- SKILL -</p>
							<div class="bg33">
								<p>没有翻不过的山，没有走不完的路</p>
								<p>前端知识贵在积累，重在贯通，知识的广度和深度都很重要，重中之重是对JavaScript的深度理解</p>
							</div>
							<div class="bg34">
								<p name="pHTML" title="HTML" data-container="body" data-toggle="popover" data-placement="top" data-content="· 深刻理解Web标准<br>· 熟练运用html标签<br>· 熟悉xml标记语言<br>· 掌握html5">HTML</p>
								<p name="pCSS" title="CSS" data-container="body" data-toggle="popover" data-placement="top" data-content="· 熟练运用css及css3新属性<br>· 注重浏览器兼容性<br>· 掌握bootstrap<br>· 掌握LESS">CSS</p>
								<p name="pJavaScript" title="JavaScript" data-container="body" data-toggle="popover" data-placement="right" data-content="· 掌握jQuery<br>· 掌握原生JS的编程<br>· 注重面向对象的思想<br>· 仍在不断学习">JavaScript</p>
								<p name="pAngularJS" title="AngularJS" data-container="body" data-toggle="popover" data-placement="right" data-content="· 熟悉AngularJS的编程思想<br>· 会简单运用<br>· 了解双向绑定的背后原理">AngularJS</p>
								<p name="pOther" title="Java、PHP、Python" data-container="body" data-toggle="popover" data-placement="bottom" data-content="· 对后端语言都有一定的了解">某些后端语言</p>
							</div>
						</center>
					</center>
				</div>
			</div>
			<div class="page page4">
				<div class="contain">
					<center>
						<div class="bg41">
							<p>我的经历</p>
						</div>
						<div class="bg42">
							<hr>
						</div>
						<p style="color:#FF69B4" name="experience">- EXPERIENCE -</p>

						<div class="bg43">
							<p>这里是轮播图（正在制作）</p>
						</div>
						<div class="bg44">
							<p style="color: 	#BEBEBE">不断的磨练才是成长</p>
							<p style="color:	#BEBEBE">远处的方向才是动力</p>
						</div>
					</center>
				</div>
			</div>
			<div class="page page5">
				<div class="contain">
					<center>
						<div class="bg51">
							<p name="p1">很高兴遇见你</p>
							<p name="p2">在这复杂的世界里</p>
							<p name="p3">也许你看到了我</p>
							<p name="p4">也许你匆匆而行</p>
							<p name="p5">但我希望</p>
							<p name="p6">请记住初心</p>
							<p name="p7">请记住原来的自己</p>
						</div>
					</center>
				</div>
			</div>
		</div>
		<ul id="navBar">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
		<script src="../../js/jquery.js " charset="utf-8 "></script>
		<script src="../../js/bootstrap.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="./fullPage.min.js"></script>
		<script type="text/javascript" src="./vita.js"></script>
	</body>

</html>
