@charset "UTF-8";

/*背景设置*/

.bg1 {
    background: url(../../picture/0002.jpg);
    text-align: center;
}

.img-circle {
    width: 14rem;
    height: 14rem;
}

.bg2 {
    background: url(../../picture/0039.jpg);
}

.bg3 {
    background: url(../../picture/0027.jpg);
}

.bg4 {
    background: url(../../picture/0038.jpg);
}

.bg5 {
    background: url(../../picture/0012.jpg);
}

html {
    font-size: 62.5%;
}


/*导航点的颜色*/

#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span {
    background: #fff;
    /*这里设置的是活动导航的颜色*/
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    border: 1px solid #fff;
    /*这里设置的是非活动导航的颜色*/
}


/*section1*/

.section1 {
    position: relative;
    color: #fff;
    font-size: 2rem;
    opacity: 0;
    margin-top: -5rem;
}

hr {
    width: 200px;
}


/*section2*/

.bg21 {
    font-size: 3rem;
    color: #fff;
}

.bg22 {
    width: 0;
    overflow: hidden;
}

.bg23 {
    font-size: 0.6vw;
    width: 60vw;
    line-height: 8rem;
    border-radius: 2rem;
    background: linear-gradient(20deg, #9F79EE, #27408B);
    box-shadow: 0px 3px 20px #8B8B83;
    opacity: 0;
}

.bg23 i {
    padding: 0.5em;
    color: #fff;
}

.bg24 {
    margin-top: 3rem;
    color: #fff;
    font-size: 2vw;
    width: 80vw;
    height: 0;
}

.bg24::before {
    content: "";
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    width: 10rem;
    height: 4rem;
    display: block;
    float: left;
    position: absolute;
}

.bg24::after {
    content: "";
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    width: 10rem;
    height: 4rem;
    display: block;
    float: right;
}


/*section3*/

.bg31 {
    font-size: 4rem;
    color: #fff;
}

.bg32 {
    width: 0;
    overflow: hidden;
}

.bg33 {
    color: #fff;
}

.bg34 {
    font-size: 2rem;
    /*padding: 5vw;*/
    color: #F0FFFF;
    width: 11rem;
}

.bg34 p {
    margin-top: 1rem;
    height: 4rem;
    opacity: 0;
}

.bg34 p:hover {
    cursor: pointer;
    color: #FF3030;
}


/*section4*/

.bg41 {
    font-size: 4rem;
}

.bg42 hr {
    width: 0;
    border-top: 2px solid #185598;
}

.bg43 {
    width: 60%;
    height: 30%;
    overflow: hidden;
    margin-top: 10rem;
}

.bg44 {
    margin-top: 8rem;
    font-size: 2rem;
}


/*section5*/

.bg51 p {
    opacity: 0;
}
