<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="./newLife.css">
		<title>新生</title>
	</head>

	<body>
		<div id="masonry" class="container">
			<div class="box">
				<img src="../../picture/0020.jpg">
				<div class="boxIn">
					我是🌰~~~~
				</div>
			</div>
		</div>
		<script src="../../js/jquery.js" charset="utf-8"></script>
		<script src="./masonry-docs.min.js" charset="utf-8"></script>
		<script src="./newLife.js" charset="utf-8"></script>
	</body>

</html>
